@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.about-title {
  font-family: 'Poppins', sans-serif;
  background-color: beige;

  position: fixed;
  top: 0px;
  left: 245px;
  right: 0px;
  height: 48px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222;
}
.about-img {
  text-align: center;
}
.abt-img {
  width: 40%;
  margin: 10px;
  border-radius: 20px;
}

.about-img-2 {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  text-align: justify;
}
.about-img-2 div {
  padding: 10px;
  text-indent: 2em;
  line-height: 1.8;
}
.mam-cecil {
  float: right;
  border-radius: 20px;
  width: 25%;
  margin: 10px;
}
p.checkpoint {
  margin: 10px;
  padding: 0px 20px;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.8;
}
p.gg-title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin: 0px;
}
h1 {
  margin: 1px;
}
hr {
  width: 40%;
  color: black;
  border: 2px solid black;
}
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: aqua;
  padding-bottom: 50px;
  
}
.contact-us #contactForm {
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  margin: auto;
  width: 80%;
  height: 100%;
  border: 3px solid #222;
}
.contact-us .container-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: auto;
  width: 70%;
}
/* .form-group {
  margin-bottom: 20px;
  text-align: center;
} */
.form-btn {
  text-align: center;
}
.form-group input,
.form-group textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  font-size: 1em;
}
.btn-primary {
  width: 25%;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(227, 227, 91);
  outline: none;
  font-size: 1em;
  font-family: 'Poppins', cursive;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #000;
  font-weight: bold;
}