@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.gallery-title {
  font-family: 'Poppins', sans-serif;
  background-color: beige;

  position: fixed;
  top: 0px;
  left: 245px;
  right: 0px;
  height: 48px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222;
}
.gallery-title h1 {
  margin: 0px;
}
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.container p {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin: 0px;
}
.container hr {
  width: 50%;
  border: 2px solid black;
  margin-bottom: 15px;
}

.container .album-venue {
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid #000;
  color: black;
  padding: 70px;
}
.container .album-wedding {
  background-image: url(../../img/wedding/wed3-1.jpg);
}
.container .album-christening {
  background-image: url(../../img/christening/5-0.jpg);
}
.container .album-kid {
  background-image: url(../../img/kid_party/1-0.jpg);
}
.container .album-debut {
  background-image: url(../../img/debut/4-0.jpg);
}
.container .album-adult {
  background-image: url(../../img/adult_party/1-0.jpg);
}

.container .album-venue span {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: black;
}
.container .album-venue span:hover {
  text-decoration: underline;
} 