@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.gallery-title {
  font-family: 'Poppins', sans-serif;
  background-color: beige;

  position: fixed;
  top: 0px;
  left: 245px;
  right: 0px;
  height: 48px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222;
}
.gallery-title h1 {
  margin: 0px;
}
.container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.container main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.container p {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin: 0px;
}
.container hr {
  width: 50%;
  border: 2px solid black;
  margin-bottom: 15px;
}
.container .album-food {
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid #000;
  color: black;
  padding: 70px;
  text-align: center;
}
.container .album-filipino {
  background-image: url(../../img/filipino-cuisine/filipino-plated.jpg);
}
.container .album-pizza {
  background-image: url(../../img/pizza-pasta-buffet/pizza-plated.jpg);
}
.container .album-batangas {
  background-image: url(../../img/batanguenos-best/humba.jpg);
}
.container .album-f2g {
  background-image: url(../../img/food-to-go/food-to-go.jpg);
}
.container .album-italian {
  background-image: url(../../img/italian-cuisine/italian-plated.jpg);
}
.container .album-finger {
  background-image: url(../../img/2.JPG);
}

.container .album-food span {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  color: black;
}
.container .album-food span:hover {
  text-decoration: underline;
} 