.content-title {
  font-family: 'Poppins', sans-serif;
  background-color: beige;

  position: fixed;
  top: 0px;
  left: 245px;
  right: 0px;
  height: 48px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222;
}

h1, h3, p {
  margin: 5px;
}

.container {
  padding: 0px 20px;
  text-align: justify;
}
.terms-intro,
.terms-outro {
  padding: 0px 10px;
  margin-bottom: 20px;
}
.terms {
  margin-bottom: 30px;
}